{% extends 'base.html' %} {% block content %}
<style>
card {
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
</style>

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 right top bg-dark text-light" style="margin-left: 15%">
      <div class="card-body">
        <img class="card-img-top" src="/media/{{object.image}}">
        <h1>{% block title %} {{ object }} {% endblock title %}</h1>
        <p class="card-text ">{{ object.bio | safe }}</p>
      </div>
    </div>
  </div>
</div>     

{% endblock content %}