<!DOCTYPE html>
<html>
    <head>
        <title>PyBlog!</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    </head>

    <body>
    <style>
    body {
        backgroud-repeat: no-repeat;
        background: url(https://miro.medium.com/max/12000/1*9pAzLhpJtDKjEnpA3anRZA.jpeg);
        background-position: center;
    }
    </style>

        <!-- Navigation -->
        <nav class="navbar navbar-dark bg-dark justify-content-between" id="mynavbar">
            <a class="navbar-brand text-primary" href="/">PyBlog</a>
            <form class="form-inline" method="GET" action="">
                <input type="search" class="form-control mb-2 mr-sm-2" name="search">
                <button type="submit" class="btn btn-outline-primary mb-2">Search</butto>
            </form>
        </nav>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->
    </body>
</html>