{% extends 'base.html' %} {% block content %}
<head>
  {% load static %}
  <link href="{% static 'blog/css/home.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      {% for post in all_search_results %}
      <div class="column">
        <div class="grid">
          <figure class="effect-zoe">
            <a href="{{post.slug}}">
            <img src="media/{{post.image}}" class="blur-on-hover"/>
            <figcaption>
              <h4>{{post.title}}</h4>
              <p class="description text-dark">...{{post.content|slice:"270:300"}}...</p>
            </figcaption>			
            </a>
            </div>
          </figure>
        </div>
      {% endfor %}
  </div>
  </div>

{% endblock content %}