{% extends "base.html" %} 
{% load static %}
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }

    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }


    .center {
        margin: auto;
        width: 80%;
        padding: 2%;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white">PyBlog!</h3>
                    <p class="text-light">Ho Ho!&nbsp
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
        <!-- Blog Entries Column -->
    <div class="center">
        <div class="column">
        {% for post in post_list %}
            <div class="card bg-light" style="width: 18rem;">
                <img class="card-img-top" src="media/{{post.image}}" alt="Card image cap">
                <div class="card-img-overlay">
                    <h4 class="card-title">{{post.title}}</h4>
                </div>
                <div class="card-body">
                    <p class="card-text">...{{post.content|slice:"200:300"}}...</p>
                    <!--add button-->
                </div>
            </div>
        {% endfor %}
        </div>
    </div>    
{% endblock %}