{% extends 'base.html' %} {% block content %}
<style>
card {
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
</style>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none; width:20%; text-align:center" id="mySidebar">
  <a href="/profile/{{post.author.slug}}"><h3>{{post.author}}</h3></a>
  <img src="/media/{{post.author.image}}">
  <h5>{{post.author.bio}}</h5>
</div>
<!-- End of Sidebar -->

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 right top bg-dark text-light" style="margin-left: 15%">
      <div class="card-body">
        <img class="card-img-top" src='/media/{{post.image}}'>
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
    </div>
  </div>
<hr>

<form action="/{{post.slug}}/" method="POST">
{% csrf_token %}
{{form}}
<button type="submit" class="btn btn-primary">Comment</button>
</form>

<script>

function create_button(){
  var navbar = document.getElementById("mynavbar");
  var button = document.createElement("button");
  button.innerText = "Author Info";
  button.classList.add("btn");
  button.classList.add("btn-outline-primary");
  
  button.addEventListener("click", function open(){
    if(document.getElementById("mySidebar").style.display=="block"){
      document.getElementById("mySidebar").style.display="none";
    }
    else{
      document.getElementById("mySidebar").style.display="block";
    }
  });
  
  navbar.appendChild(button);
}

create_button();
</script>

{% endblock content %}