{% extends 'base.html' %} {% block content %}
<head>
  {% load static %}
  <link href="{% static 'blog/css/home.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="row">
      {% for post in all_search_results %}
      <a href="{{post.slug}}">
        <div class="card img__wrap">
          <img class="card-img-top embed-responsive-item img__img"  src="media/{{post.image}}">
            <h4 class="img__description"><b>{{post.title}}</b><br><br><button class="btn btn-outline-light" href="{{post.slug}}">Read More</button></h4>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
{% endblock content %}