{% extends 'base.html' %} {% block content %}
<style>
card {
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
</style>

<!-- Sidebar -->
<div class="w3-sidebar w3-bar-block w3-border-right" style="display:none; width:20%; text-align:center" id="mySidebar">
  <a href="/profile/{{post.author.slug}}"><h3>{{post.author}}</h3></a>
  <img src="/media/{{post.author.image}}">
  <h5>{{post.author.bio}}</h5>
</div>
<!-- End of Sidebar -->

<div class="container">
  <div class="row">
    <div class="bg-dark text-light" style="margin-top: 3em;">
      <div class="card-body">
        <img class="card-img-top" src='/media/{{post.image}}'>
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ object.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      
      <hr>
      <form id="comment-form" action="/{{post.slug}}/" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Comment</button>
      </form>
    </div>
    </div>
  </div>


<hr>

<!--Comment Section-->
<div class="card bg-dark text-light">
{% for comment in all_comments %}
{% if comment.post == object %}
<h3><b>{{comment.name |safe}}:</b> {{comment.body |safe}}</h3>
{% endif %}
{% endfor %}

<!--End Comment Section-->
</div>
</div>
<script>

function set_css(){
  var name = document.getElementById("id_name");
  var email = document.getElementById("id_email");
  var body = document.getElementById("id_body");
  name.classList.add("form-control");
  email.classList.add("form-control");
  body.classList.add("form-control");
  
}

function create_button(){
  var navbar = document.getElementById("mynavbar");
  var button = document.createElement("button");
  button.innerText = "Author Info";
  button.classList.add("btn");
  button.classList.add("btn-outline-warning");
  button.classList.add("mb-2");
  
  button.addEventListener("click", function open(){
    if(document.getElementById("mySidebar").style.display=="block"){
      document.getElementById("mySidebar").style.display="none";
    }
    else{
      document.getElementById("mySidebar").style.display="block";
    }
  });
  
  navbar.appendChild(button);
}

function insert_post_id(){
  document.getElementById("id_post").value = {{object.pk}};
}
create_button();
insert_post_id();
set_css();
</script>

{% endblock content %}